@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<h3>Сотрудники</h3>
	<table class="table">
		<tr>
			<td><p class="col-md-10">Фамилия</p></td>
			<td><p class="col-md-10">Имя</p></td>
			<td><p class="col-md-10">Отчество</p></td>
		</tr>
		@foreach (var worker in ViewBag.EmplDate)
		{
			<tr>
				<td><p class="col-md-10">@worker.Surname</p></td>
				<td><p class="col-md-10">@worker.Name</p></td>
				<td><p class="col-md-10">@worker.Patranomyc</p></td>
			</tr>
		}

	</table>
</div>

